The temperature sensor shall send the temperature of the liquid to the monitoring system.

The temperature of the liquid shall be send by the temperature sensor to the monitoring system.  

The system shall send the log messages to the database via the monitoring interface.

The Surveillance and Tracking module shall provide the system administrator with the ability to monitor system configuration changes posted to the database.

The information technology tools used in the design of systems performing safety functions shall be assessed for safety implications on the end-product.

When a GSI component constraint changes STS shall deliver a warning message to the system operator.

The system shall allow system administrators to manage the users by creating, editing, or deleting users. 

The system should be able handle the concurrent access of the maximum capacity of an exam room during an exam session.

The system shall keep a log of all the errors.

Panic functionality on vehicle is activated by pressing Lock and Unlock button together.

The functioning of RKE shall be available till battery voltage is greater than 2.53 Volts.

Our product shall be able to record all of the data transferred to the cellular device.

Requirements correlated to functional safety are described and handled in risk and safety analysis.

The remote key functionality has no emergency run capability.

The gathered data shall be displayed to the user in a very visually satisfying fashion.

The hardware module shall have Bluetooth capability to transfer the data from the module to the phone.

Since we are using an iPhone as one of our supported devices, we shall write an app in objective C that reads the transmitted data from the Bluetooth module, processes the data, and displays the information to the user in a visually stimulating fashion.

If there is a cellular connection to the internet at the racing site, the Bluetooth connected phone shall transmit the already packaged data to a centralized server where other cellular devices with the app installed can also obtain the same data and visuals at a reduced delay time.

Our hardware module shall have a microcontroller that reads the data in from the existing CAN BUS line.

After the microcontroller has received the data from the CAN BUS line, it shall process and put the data into packages that can be sent to the Bluetooth transmitter for data transmission.

The user interface shall be able to display multiple gauges per screen to accommodate for the vast quantity of data we need to display.


The system shall be able to transmit data over Bluetooth to be output to the mobile device.

The system shall have a high success rate on packet transfers. System should implement error detection, receiver feedback, and retransmission to the receiver.

Amazing Lunch Indicator
Integers should be accepted as input when a user searches by price or destination. If the system receives an invalid input the user should be informed and prompted to insert an accepted input.

A user should be able to select a restaurant type in a given list as input. The result is displayed in a map view by default.

A user should be able to select a specific dish in a given list as input. The result is displayed in a map view by default.

If no match is found the user should be informed but kept on the search page in order to get the possibility to conduct a new search right away.

When sorting by restaurant name, specific dish or restaurant type the results should be ordered alphabetically.

When sorting by price the results should be ordered from cheapest to most expensive.

When sorting by distance the results should be ordered from closets to furthest distance according to the user’s position.

When viewing the results in a list or a map, a user should be able to filter the results in a filtering menu. The filtering options include:
•	increasing or decreasing the maximum distance
•	increasing or decreasing the maximum price
•	choosing a restaurant type
•	choosing a specific dish

When filtering the results, only the existing results shall be affected and a new search query should not be sent.

The web application will generate visual reports of the current soil moisture levels. The reports will be generated as graphic representations of the data and will be filterable by zone, year, month, and day.

The web application will have a status indicator on the home dashboard to display whether a zone is actively being watered or not.
